        #container{
            width: 800px;
            margin: 0 auto;
            border: 1px solid #333;
            padding: 10px 20px;
        }

        nav a{
            text-decoration: none;
            color: #222;
        }

        table{
            border: 3px solid #00ff00;
            border-collapse: collapse;
            width: 500px;
            height: 100px;
        }
        th, td{
            border: 1px solid #00ff00;
            text-align: center;
        }
        

    /* 로그인 스타일 */

    .tbl_login{
        width: 300px;
    }
    .tbl_login td{
        width: 150px;
        height: 30px;
    }